html{
	box-sizing:border-box;
}

*,*::before,*::after{
	box-sizing:border-inherit;
}

body{
margin:0;
font-family:'Poppins',sans-serif;	
font-weight:400;

padding:0;

}
h1,h2,h3{
	margin:0px;
	padding:0;
}
ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
a{
text-decoration:none;
cursor:pointer;
margin:0;
}
img{
max-width:100%;	
padding:0;
margin:0;
}
.btn-reset{
	padding:0;
	border:0;
	background-color:transparent;
	cursor:pointer;
}
.container{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
}

.header{
position:absolute;
top:0;
left:0;	
width:100%;
z-index:5;

}
.header_container{
display:flex;	
justify-content:space-between;
align-items:center;
}

.header_list{
display:flex;
}

.header_link{
text-transform:uppercase;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color:#fff;
}

.header_link:hover{
text-decoration:underline;	
}

.header_item:not(:last-child){
	margin-right:35px;
}

.link-ru{
	margin-right:8px;

}

.road-section{
background-image:url(img2/Mysites/road.jpg);	
background-position:center;
background-repeat:no-repeat;
background-size:cover;

width:100%;
}

.road_title{
padding-top:216px;
margin-bottom:64px;
font-weight: 700;
font-size: 48px;
line-height: 150%;
text-transform: uppercase;
color: #FFFFFF;
margin-top:0;	
max-width:791px;
}

.road_btn{
margin-bottom:305px;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #FFFFFF;	
padding:11px 48px;
background: #DB2512;
border:0;
cursor:pointer;
}

.road_btn:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.info{
margin-top:-130px;	
}

.info_wrapper{
	display:flex;
	margin:0 -10px;
	
}
.info_block{
width:33.3333%;	
margin-right:20px;
max-width:386px;

}

.info_block:last-child{
	margin-right:0;
}
.info_item{
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
padding:30px;
}
.info_img{
margin-bottom:21px;
}
.info_title{
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #000000;	
margin-bottom:15px;
}

.info_subtitle{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #B7B7B7;	
}


.services_title{
padding-top:99px;
font-weight: 700;
font-size: 30px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
margin-bottom:15px;
color: #000000;	
margin-bottom:15px;
}
.services_link{
font-weight: 400;
font-size: 15px;
line-height: 22px;
letter-spacing: 0.15em;
text-decoration-line: underline;
color: #000000;	
margin-bottom:60px;
display:inline-block;
}
.services_block{
display:grid;
gap:21px;	
grid-template-columns:repeat(3,1fr);
margin-bottom:98px;
padding:0 10px;
}
.services_content{
	min-height:500px;
	
	position:relative;
}

.services_content:after{
	position:absolute;
	top:0;
	left:0;
	content:'';
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0;
}

.services_content:hover.services_content:after{
	opacity:0.7;
}


.services-diagnostik{
background:url(img2/Mysites/diagnostik.jpg) no-repeat ;	
background-size:cover;
margin-bottom:21px;
}
.services-tires{
	background:url(img2/Mysites/tires.jpg) no-repeat ;	
background-size:cover;
margin-bottom:21px;
}
.services-engines{
		background:url(img2/Mysites/engines.jpg) no-repeat ;	
background-size:cover;
margin-bottom:21px;
}
.services_after-title{
	position:absolute;
	color:#fff;
	max-width:270px;
	bottom:0px;
	left:30px;
	font-weight: 600;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.23em;
text-transform: uppercase;
color: #FFFFFF;
z-index:5;
}
.services_img{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);	
border-radius:100%;
display:flex;
align-items:center;
justify-content:center;
width: 100px;
height: 100px;
background: #DB2512;
z-index:5;
}
.services_after{
	opacity:0;
	display:inline-block;
}
.services_content:hover .services_after{
	opacity:1;
	
}

/*important*/
.important_container{
	background-color: #171616;
}
.important{
display:flex;
align-items:center;
padding:117px 10px;
}

.important_text{
max-width:512px;	
margin-right:182px;

}
.important_title{
font-weight: 700;
font-size: 30px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;	
margin-bottom:42px;
}

.important_subtitle{
font-weight: 600;
font-size: 15px;
line-height: 150%;
letter-spacing: 0.23em;
color: #B7B7B7;
margin-bottom:48px;	
}

.important_link{
font-weight: 500;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.15em;
text-decoration-line: underline;
text-transform: uppercase;
color: #FFFFFF;	
}
.important-img{
	background-size:cover;
	max-width:513px;
}



.works_title{
padding-top:99px;
font-weight: 900;
font-size: 148px;
line-height: 150%;
text-transform: uppercase;
color: #000000;	
margin-bottom:58px;
text-align:center;
}

.works_subtitle{
font-weight: 600;
font-size: 40px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #000000;	
margin-bottom:92px;
text-align:center;
}

.works-block{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:19px;	
margin-bottom:100px;
}

.works-item{
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);	
max-width:386px;
padding:30px 30px 15px;
}
.item_title{
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
margin-bottom:15px;
}

.item_subtitle{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #B7B7B7;	
}




.contacts{
background-color:#171616;;	
}
.contacts_form{
	margin:0;
display:grid;
gap:77px;
padding-bottom:37px;	

}

.form_group{
max-width:446px;	
margin:0;

}
.contacts_title{
font-weight: 700;
font-size: 30px;
line-height: 150%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;	
padding-top:97px;
padding-bottom:47px;
}


.input{
outline:0;	
border:0;
border-bottom:1px solid #fff;
background-color:transparent;
color:#fff;
margin-right:45px;
max-width:197px;
padding:10px 0;
}
.input-1,
.input-2{
	margin-right:0;
}
::-webkit-input-placeholder {color:#F5F5F5	;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

.textarea{
outline:0;	
border:0;
border-bottom:1px solid #fff;
background-color:transparent;	
color:#fff;
padding:30px 0px;
min-width:440px;
 resize: none;
 margin:0;
 margin-bottom:37px;
}


.btn_contacts{

font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #FFFFFF;	
padding:11px 48px;
background: #DB2512;
border:0;
cursor:pointer;	
margin-bottom:97px;
}

.btn_contacts:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.footer{
	padding:67px 0;
}

.footer-content{
display:flex;
justify-content:space-between;	
align-items:center;
}
.footer_list{
display:flex;	
}
.footer_item{
width:25px;
height:25px;
cursor:pointer;	
}

.footer_item:not(:last-child){
	margin-right:21px;
}


.footer_link{
cursor:pointer;
display:inline-block;
}
.item-in{
background:url(img2/Mysites/in.svg) no-repeat ;
background-size:cover;

}

.item-fb{
background:url(img2/Mysites/fb.svg) no-repeat ;
background-size:cover;	
}

.item-inst{
background:url(img2/Mysites/inst.svg) no-repeat ;
background-size:cover;	
}


 @media screen and (max-width: 1140px) {
.info_title{
letter-spacing:unset;

}

.important_text{
max-width:450px;	
margin-right:100px;
}
}

 @media screen and (max-width: 1065px) {
	 .info{
margin-top:-70px;	
}
.info_item{
padding:10px;
}
.info_img{
margin-bottom:15px;
}
.info_title{
font-weight: 700;
font-size: 14px;
padding:0;
}

.info_subtitle{
padding:0;
margin:0;
font-size: 14px;	
}



.important{
display:flex;
align-items:center;
justify-content:space-evenly;

padding:100px 10px;
}

.important_text{
	
margin-right:90px;

}
.important_title{
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: 0.13 em;

margin-bottom:35px;
}

.important_subtitle{

font-size: 12px;
line-height: 100%;
letter-spacing: 0 em;
margin-bottom:30px;	
}
.important_link{
font-size: 14px;
line-height: 100%;
letter-spacing: 0;
}
.important-img{
	background-size:cover;	
}
.important-img{
	background-size:cover;
	max-width:400px;
}
.important_text{
max-width:300px;	
margin-right:90px;}



.works_title{
padding-top:70px;
font-size: 120px;
line-height: 100%;	
margin-bottom:45px;
}
.contacts_title{
	text-align:center;	

}

.contacts_form{
justify-content:center;	
}

.div_btn{
text-align:center;	
}

}
